.card-body {
    width: 600px;
    color: black;
    margin-left: 7%;
    margin-top: 15%;
    display:flexbox;
}

.card {
    width: 700px;
    height: 700px;
    margin-left: 90%;
    margin-top: 9%;
}

.login-button {
    margin-top: 10%;
}

.login {
    margin-top: 12%;
    margin-bottom: 3%;
}

.topp {
    align-self: center;
    justify-self: center;
    margin-left:-30px;
    font-size: 45px;
}

.forgot-password {
    margin-top: 1%;
}

.SignUp{
    margin-top: 4%;
}