.card {
    width: 700px !important;
    margin: 700px !important;
    height: 700px !important;
    margin-top: 7% !important;
    margin-left: 850px !important;
    
}

.card-body {
    width: 650px;
    margin-left: 10px;
}

.breadcrumb {
    width: 100%;
    margin: 0 auto !important;
}

.names {
    margin-top: -50px;
    
}

.social {
    margin-top: 30px;
}

.following {
    margin-left: 40px;
}

.info {
    margin-top: 25px;
}

.link-info {
    margin-top: 40px;
}

.btn.btn-dark {
    margin-left: 1785px;
}

.save-button {
    margin-top: 40px;
}


/* Info */
#autobib{
    border: 1px solid rgb(11, 11, 11);
    background-color: white;
    outline: none;
    border-radius: 10px;
    padding-left: 10px ;
    padding-right: 10px;
    color: black;
    field-sizing: content;
    max-width: 80%;
    min-width: 5%;
    margin-left: 1%;
}

.follow-btn{
    margin-left: 10%;
}

select {
    background-color: white;
    color: black;
    border-radius: 10px;
    min-width: 20%;
    border: 1px solid black;
    padding-left: 3%;
}